mixin caja--con-fondo-grande(clase, imagen, categoria, titulo, contenido)
    a(class="caja--con-fondo caja--grande " + clase)
        .caja__imagen: img(src="../images/"+imagen)
        .caja--con-fondo__contenido
            span.caja--con-fondo__categoria=categoria
            h2=titulo
            p=contenido

mixin caja--con-fondo-mediana (clase, imagen, categoria, titulo, contenido, link)
    a(class="caja--con-fondo caja--mediana " + clase)
        .caja__imagen: img(src="../images/"+imagen)
        .caja--con-fondo__contenido
            span.caja--con-fondo__categoria=categoria
            h2=titulo
            button(onclick="location.href='"+link+"';") Clic here!

mixin caja--con-fondo-pequena(clase, imagen, categoria, titulo, contenido, link)
    a(class="caja--con-fondo caja--pequena " + clase)
        .caja__imagen: img(src="../images/"+imagen)
        .caja--con-fondo__contenido
            span.caja--con-fondo__categoria=categoria
            h2=titulo
            button(onclick="location.href='"+link+"';") Clic here!

mixin caja(id, imagen, categoria, titulo, contenido, button)
    .caja(id=+id)
        .caja__imagen: img(src="../images/"+imagen)
        .caja__contenido
            span.caja__categoria=categoria
            h3=titulo
            p=contenido
            button=button	
    i.fas.fa-times
            
mixin listado-categoria(numero,titulo)
    li: a(href="#")
        span.sidebar--listado__numero=numero
        span.sidebar--listado__titulo=titulo