mixin caja--con-fondo-grande (imagen, categoria, titulo, contenido)
	a(class="caja--con-fondo caja--grande")
		.caja__imagen: img(src="")
		.caja--con-fondo__contenido
			span.caja--con-fondo__categoria=categoria
			h2=titulo
			p=contenido

mixin caja--con-fondo-pequena (clase, imagen, categoria, titulo, contenido)
	a(class="caja--con-fondo caja--pequena " + clase)
		.caja__imagen: img(src="../images/"+imagen)
		.caja--con-fondo__contenido
			span.caja--con-fondo__categoria=categoria
			h2=titulo

mixin listado-categoria(numero,titulo)
	li: a(href="#")
		span.sidebar--listado__numero=numero
		span.sidebar--listado__titulo=titulo